@model DevExtremeAspNetCoreApp1.Models.SampleTab

<div class="dx-fieldset">
    <b>Tab 3 View</b>
    <hr/>
    <div class="dx-field">
        <div><p>Tab 2 Partial Content</p></div>
        <div class="dx-field-label">
            @Html.DisplayNameFor(model => model.Text)
        </div>
        <div class="dx-field-value">
            @(Html.DevExtreme().TextBoxFor(model => model.Text)
                                        .ID("txtText")
                                        .Name("Text")
                                        .ValidationError(Model.Text)
            )
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
    </div>
</div>