<div class="dx-fieldset">
    <b>Sub Tab 1 View</b>
    <hr />
    <div class="dx-field">
        <div><p>Sub Tab 1 Partial Content</p></div>
        <div id="longtabs">
            @(Html.DevExtreme().Form<DevExtremeAspNetCoreApp1.Models.SampleSubTab>()
    .Items(items => {

        items.AddSimpleFor(m => m.ID);

        items.AddSimpleFor(m => m.Address);

        items.AddSimpleFor(m => m.Contact);
    })
)
        </div>
    </div>
</div>