@model DevExtremeAspNetCoreApp1.Models.SampleTab

<div class="dx-fieldset">
    <b>Tab 2 View</b>
    <hr />
    <div class="dx-field">
        <div><p>Tab 1 Partial Content</p></div>
        <div class="dx-field-label">
            @Html.DisplayNameFor(model => model.BirthDate)
        </div>
        <div class="dx-field">
            <div class="dx-field-value">
                @(Html.DevExtreme().DateBox()
                .Type(DateBoxType.DateTime)
                .Value(DateTime.Now)
            )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Checkbox</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().CheckBox()
                    .Value(true)
                )
            </div>
        </div>
    </div>
</div>