body {
}

.first-group,
.second-group {
    padding: 10px;
}

.second-group {
    background-color: rgba(191, 191, 191, 0.15);
}
.container {
    max-width: -webkit-fill-available;
}

.dx-tabpanel-container {
    margin-top: 0 !important;
    padding-top: 0 !important;
    height: calc(100% - 30px);
}  